{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Adjust Resume Layout</title>
    <!-- Add your CSS and JS links here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_resume_layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_tools.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/adjust_layout.js' %}"></script>
</head>
<body>
    <h1>Adjust Resume Layout</h1>

    <!-- Display the existing resume layout -->
    <div class="resume container">
        <h1>Resume {{ resume }}</h1>

        <!-- Insert the sections here -->
        {% block content %}
        {% for section in info_sections %}
            {% if section.include %}
                <div class="section">
                    <i class="drag-handle fas fa-arrows-alt"></i>
                    {% include section.template %}
                    <i class="resize-handle-vertical fas fa-grip-vertical"></i>
                </div>
            {% endif %}
        {% endfor %}
        {% endblock %}
    </div>

    <!-- Provide options for adjusting the layout -->
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="resume_id" value="{{ resume.id }}">
        <button type="submit">Save Layout</button>
    </form>
</body>
</html>